$basefont: 'Josefin Sans', sans-serif;
$layerfont: 'Roboto', sans-serif;
$primarycolor:#F0EFED; 
$secondarycolor:#2C2C2C;
$primaryhighlight:#F8E71C;
$secondaryhighlight:#0E902D;
$tertiaryhighlight:#074115;